html,
body {
  background-color: #fff;
}

.bg-spin,
header {
  background: rgb(98, 197, 245);
  background: radial-gradient(
    circle,
    rgba(98, 197, 245, 1) 0%,
    rgba(2, 0, 36, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: 200% 200%;
  background-position: left top;
}
