html,
body {
  background-color: #fff;
}

.bg-spin,
header {
  background-image: url('/assets/images/header-bg.jpg');
  background-repeat: no-repeat;
  background-position: top right;
  background-color: #0c2753;
}
